In [ ]:
s=int(input("enter starting year"))
e=int(input("enter ending year"))
print("leap years between" ,s, "and" ,e)
while (s<=e):
  if ((s%400==0) or ((s%4==0) and (s%100!=0))):
    print(s)
  s=s+1

enter starting year2000
enter ending year2021
leap years between 2000 and 2021
2000
2004
2008
2012
2016
2020

In [ ]:
list=[-4,21,45,30,-22,58,4,10]
num=0
while (num < len(list)):
  if list[num] >=0 :
    print (list[num] , end= " ")
  num += 1

21 45 30 58 4 10

In [2]:
x=[]
n=int(input("enter list items : "))
for i in range(1,n+1):
    a=int(input("enter the value of %d item : "%i))
    x.append(a)
b=(num**2 for num in x)
print("initial list of N numbers :",x)
y=list(b)
print("square list of N numbers :",y)

enter list items : 4
enter the value of 1 item : 1
enter the value of 2 item : 2
enter the value of 3 item : 3
enter the value of 4 item : 4
initial list of N numbers : [1, 2, 3, 4]
square list of N numbers : [1, 4, 9, 16]

In [ ]:
word=input("enter a word: ")
vowels=['a','e','i','o','u']
list=[]
for x in word:
  if(x in vowels and x not in list):
    list.append(x)
    print("vowels present in the given word is: ",list)

enter a word: beautiful
vowels present in the given word is:  ['e']
vowels present in the given word is:  ['e', 'a']
vowels present in the given word is:  ['e', 'a', 'u']
vowels present in the given word is:  ['e', 'a', 'u', 'i']

In [1]:
w=input("enter any word : ")
for l in range(len(w)) :
  print("ASCII value is",w[l],"is",ord(w[l]))

enter any word : day
ASCII value is d is 100
ASCII value is a is 97
ASCII value is y is 121

In [ ]:
def word_count(txt):
  counts=dict()
  words=txt.split()
  for word in words:
    if word in counts:
      counts[word]+=1
    else:
        counts[word]=1
  return counts
print (word_count('the quick brown fox jumps over the lazy dog.'))

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog.': 1}

In [3]:
x=[]
n=int(input("enter any integers :"))
for i in range(1,n+1):
  a=int(input())
  if (a>100):
    x.append('over')
  else:
    x.append(a)
print("modified list :" ,x)

enter any integers :4
20
45
300
34
modified list : [20, 45, 'over', 34]

In [4]:
l=[]
x=int(input("enter the limit : "))
for i in range (1,x+1):
  x=input("enter the first name : ")
  l.append(x)
  count = x.count('a')
  print("number of time a is present in name:",count)

enter the limit : 3
enter the first name : aleena
number of time a is present in name: 2
enter the first name : navya
number of time a is present in name: 2
enter the first name : abin
number of time a is present in name: 1

In [5]:
x=[]
a=int(input("enter limit for list1 : "))
for i in range(1,a+1):
  a=int(input())
  x.append(a)
print(x)
y=[]
b=int(input("enter limit for list2 : "))
for i in range(1,b+1):
  b=int(input())
  y.append(b)
print(y)
if (len(x)==len(y)):
  print("list1 and list2 are of same length i.e.",len(x))
else:
  print("list1 and list2 are of different length.")
if (sum(x)==sum(y)):
  print("list1 and list2 sums to the same value i.e.",sum(x))
else:
  print("list1 and list2 sums up to different values.")
def common(x, y): 
    p=set(x) 
    q=set(y) 
    if len(p.intersection(q)) > 0: 
        return(p.intersection(q))   
    else: 
        return("no common elements")  
print("value that occur in both lists is/are :",common(x,y))

enter limit for list1 : 3
9
6
3
[9, 6, 3]
enter limit for list2 : 3
9
7
2
[9, 7, 2]
list1 and list2 are of same length i.e. 3
list1 and list2 sums to the same value i.e. 18
value that occur in both lists is/are : {9}

In [6]:
str=input("enter any string : ")
def rep_ch(str1):
  char=str1[0]
  str1=str1.replace(char, '$')
  str1=char+str1[1:]
  return str1
print(rep_ch(str))

enter any string : onion
oni$n

In [7]:
def change(str):
      return str[-1:] + str[1:-1] + str[:1]
str=input("enter any string : ")
print("modified string : ",change(str))

enter any string : cobol
modified string :  loboc

In [ ]:
from math import pi
r=float(input("enter radius of circle: "))
print("area of the circle is: "+str(pi *r**2))

enter radius of circle: 6
area of the circle is: 113.09733552923255

In [ ]:
num1=int(input("enter first number: "))
num2=int(input("enter second number: "))
num3=int(input("enter third number: "))
if(num1 > num2) and (num1 > num3):
  largest=num1
elif(num2 > num1) and (num2 > num3):
  largest=num2
else:
  largest=num3
print("the largest number is" ,largest)

enter first number: 22
enter second number: 23
enter third number: 12
the largest number is 23

In [8]:
f=input("enter any filename : ")
x=f.split(".")
print("extension of file is",x[-1])

enter any filename : first.html
extension of file is html

In [9]:
c=[]
x=int(input("enter limit for list : "))
for i in range(1,x+1):
  a=input()
  c.append(a)
print(c)
print(c[0],c[-1])

enter limit for list : 4
blue
pink
green
red
['blue', 'pink', 'green', 'red']
blue red

In [10]:
a=int(input("enter any integer : "))
n1=int("%s" %a)
n2=int("%s%s" %(a,a))
n3=int("%s%s%s" %(a,a,a))
print("value of n+nn+nnn is : ",n1+n2+n3)

enter any integer : 3
value of n+nn+nnn is :  369

In [11]:
c1=[]
x=int(input("enter limit for list1 :"))
for i in range(1,x+1):
  a=input()
  c1.append(a)
  p=set(c1)
print(p)
c2=[]
y=int(input("enter limit for list2 : "))
for i in range(1,y+1):
  b=input()
  c2.append(b)
  q=set(c2)
print(q)
print(p.difference(q))

enter limit for list1 :3
red
yellow
pink
{'red', 'pink', 'yellow'}
enter limit for list2 : 3
violet
red
blue
{'violet', 'red', 'blue'}
{'pink', 'yellow'}

In [12]:
x=input("enter the first string : ")
y=input("enter the second string : ")
def swapch(x,y): 
  a = y[:1] + x[1:]
  b = x[:1] + y[1:]
  return a + ' ' + b
print(swapch(x,y))

enter the first string : flop
enter the second string : drop
dlop frop

In [ ]:
import operator
d = {1:2, 3:4, 4:3, 2:1, 0:0}
print('original dictionary : ',d)
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print('dictionary in ascending order by value : ',sorted_d)
sorted_d = dict( sorted(d.items(), key=operator.itemgetter(1),reverse=True))
print('dictionary in descending order by value : ',sorted_d)

original dictionary :  {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
dictionary in ascending order by value :  [(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]
dictionary in descending order by value :  {3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

In [ ]:
def Merge(dict1,dict2):
  return (dict2.update(dict1))
dict1={'a':10,'b':8}
dict2={'d':6,'c':4}
print(Merge(dict1 , dict2))
print(dict2)

None
{'d': 6, 'c': 4, 'a': 10, 'b': 8}

In [ ]:
num1=int(input("enter first number: "))
num2=int(input("enter second number: "))
i=1
while(i <=num1 and i <=num2):
  if(num1 % i==0 and num2 %i==0):
    gcd=i
  i=i+1
print("GCD is",gcd)

enter first number: 5
enter second number: 15
GCD is 5

In [ ]:
list=[10,65,22,31,54,67]
print("original list: ")
print(list)
for i in list:
   if(i % 2 ==0):
     list.remove(i)
print("list after removing even numbers: ")
print(list)

original list:
[10, 65, 22, 31, 54, 67]
list after removing even numbers:
[65, 31, 67]